* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-image: url("Images/code.jpeg");
    color: rgb(48, 48, 48);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.row {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.column {
    border-radius: 16px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

#left {
    
    width: 80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#me {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 20px;
}

#name {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 400;
}


#title {
    margin-top: 25px;
    background-color: rgb(230, 230, 230);
    padding: 7px 14px;
    border: 2px solid  rgb(3, 143, 207);
    ;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 400;
}

#social-media {
    margin-top: 25px;
}


#other-info {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px auto 10px auto;
    background-color: rgb(230, 230, 230);
}

#other-container {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

.fas {
    padding: 5px;
    display: flex;
}

.other {
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    display: inline;
    align-self: center;
    padding-left: 8px;
}

#email {
    padding: 10px 15px;
    width: 140px;
    background-color:  rgb(3, 143, 207);
    color: white;
    font-size: 14px;
    border: 0;
    border-radius: 16px;
    margin: 20px auto;
}

#right {
    width: 80%;
    margin: 20px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
}

#right.up {
    display: none;
}
/*
@keyframes liftof{
    0%{}
    100%{ transform: translateY(-10000);}
}
*/
#about-me {
    background-color: white;
    border-radius: 16px 16px 0 0;
    padding: 26px 30px;
    width: 100%;
}

#what-im-doing {
    padding: 20px 30px;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    border-radius: 0 0 16px 16px;
}

#two-columns {
    background-color: rgb(230, 230, 230);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#two-columns .fa-2x  {
    color:  rgb(3, 143, 207);
} 

.small-side {
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-wrap: wrap;
    
}

#small-right {
    width: 100%;
}

.tiny-side {
    width: 100%;
    height: 24vh;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.tiny-side h4 {
    font-size: 18px;
    margin-left: 10px;
}

.tiny-side p {
    margin-left: 10px;
    font-size: 13px;
    width: 95%;
}

#test {
    margin-top: 7px;
        padding: 10px 25px;
        width: 140px;
        background-color:  rgb(3, 143, 207);
        color: white;
        font-size: 14px;
        border: 0;
        border-radius: 16px;
        display: flex;
        justify-content: center;
}
/*
#projects {
    border: 2px solid  rgb(3, 143, 207);
}
*/

.fade-in {
    animation: fadeIn{
        ease: 0.5s;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#pop-up {
    height: 500px;
    width: 80%;
    display: none;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 16px;
    background-color: white;
}

#pop-up.down {
    display: flex;
    margin: 20px auto 10px auto;
    /*animation: dropdown 0.5s ease forwards;*/
}
/*
@keyframes dropdown{
    0%{}
    100%{ transform: translateY(-500px);}
}
*/
#portfolio-title {
    padding: 26px 30px;
    display: flex;
    align-self: center;
    
}

#portfolio {
    background-color: rgb(230, 230, 230);
    height: auto;
    width: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    padding-bottom: 26px;
}

#button {
    padding: 10px 15px;
    width: 140px;
    background-color:  rgb(3, 143, 207);
    color: white;
    font-size: 14px;
    border: 0;
    border-radius: 16px;
    margin: -10px 60px 30px 60px;
    align-self: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(3, 143, 207);
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.img-wrapper a {
    font-size: 18px;
    
}

.img-wrapper p {
    width: 250px;
    font-size: 14px;
    color: black;
}

#king-tut, #fortnite, #shanghai, #fitbit {
    width: 250px;
    margin: 5px;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid black;
}

@media screen and (min-width: 500px) {

    #portfolio {
        margin-bottom: 10px;
    }

    #pop-up.down {
        margin-bottom: 10px;
    }

    #test {
        margin-top: 7px;
        padding: 10px 25px;
        width: 140px;
        background-color:  rgb(3, 143, 207);
        color: white;
        font-size: 14px;
        border: 0;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        
    }
}


@media screen and (min-width: 730px) {
    #two-columns {
        flex-direction: row;
    }

    .small-side {
        width: 100%;
    }

    .tiny-side {
        margin: 5px;
    }
}


@media screen and (min-width: 1200px) {
    .row {
        height: 100vh;
        width: 95%;
        display: flex;
        flex-wrap: row;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .column {
        border-radius: 16px;
        height: 560px;
        background-color: white;
        
    }
    
    #left {
        width: 250px;
        height: 560px;
        margin: auto 10px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    
    #me {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 20px auto;
        
    }
    
    #name {
        margin: 10px auto;
        font-size: 22px;
        font-weight: 400;
    }
    
    #title {
        margin: 15px;
        background-color: rgb(230, 230, 230);
        padding: 7px 14px;
        border: 2px solid  rgb(3, 143, 207);
        ;
        border-radius: 16px;
        font-size: 16px;
        font-weight: 400;
    }
    
    #social-media {
        margin: 20px;
    }
    
    
    #other-info {
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 12px auto;
        background-color: rgb(230, 230, 230);
    }
    
    #other-container {
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 176px;
        
    }
    
    .fas {
        padding: 5px;
        display: flex;
        
        
    }
    
    .other {
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        display: inline;
        align-self: center;
        padding-left: 8px;
    }
/*
    #git{
        color:  rgb(48, 48, 48);
    }
  */  
    #email {
        cursor: pointer;
        padding: 10px 15px;
        margin: 40px auto;
        width: 140px;
        background-color:  rgb(3, 143, 207);
        color: white;
        font-size: 14px;
        border: 0;
        border-radius: 16px;
    }

    #email:hover {
        background-color:  rgb(0, 99, 145);
    }

    #email:focus {
        outline: none;
    }
    
    #right {
        min-width: 400px;
        max-width: 800px;
        height: 561px;
        margin: auto 10px;
        display: flex;
        flex-direction: column;
    }

    #right.up {
        display: none;
    }

    #portfolio {
        margin-bottom: 0;
    }

    #portfolio-title {
        align-self: flex-start;
    }
    
    #button {
        margin-top: -70px;
        padding: 10px 30px;
        align-self: flex-end;
    }

    
    #what-im-doing {
        padding: 20px 30px;
        background-color: rgb(230, 230, 230);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        border-radius: 0 0 16px 16px;
        padding-bottom: 41px;
    }

    
    #what-im-doing h1 {
        align-items: flex-start;
    }
    
    #two-columns {
        background-color: rgb(230, 230, 230);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #two-columns .fa-2x  {
        color:  rgb(3, 143, 207);
    } 
    
    .small-side {
        
        background-color: rgb(230, 230, 230);
        
    
    }
    
    .tiny-side {
        height: 138px;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 5px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .tiny-side h4 {
        font-size: 18px;
        margin-left: 10px;
    }
    
    .tiny-side p {
        margin-left: 10px;
        font-size: 13px;
        width: 95%;
    }
    
    #small-left {
        margin-right: 10px;
    }
    
    #small-right {
        margin-left: 10px;
    }
    /*
    #projects {
        border: 2px solid  rgb(3, 143, 207);
    }
    */
    #pop-up {
        height: 560px;
        display: none;
        flex-direction: column;
        border-radius: 16px;
        background-color: white;
    }
    
    #portfolio-title {
        padding: 26px 30px;
    }
    
    #portfolio {
        background-color: rgb(230, 230, 230);
        height: 100vh;
        width: 100%;
        padding: 10px;
    } 

    #pop-up.down {
        min-width: 400px;
        max-width: 800px;
        height: 560px;
        margin: auto 10px;
        display: flex;
        flex-direction: column;
        /*animation: dropdown 0.5s ease forwards;*/
    }
}
/*
@media screen and (min-width: 1530px) {

}
