* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(115deg, rgb(135, 217, 255),rgb(217, 122, 255) ) no-repeat center center fixed;
    color: rgb(48, 48, 48);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.row {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.column {
    border-radius: 16px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

#left {
    
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#me {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: 30px;
}

#name {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 400;
}


#title {
    margin-top: 35px;
    background-color: rgb(230, 230, 230);
    padding: 7px 14px;
    border: 2px solid  rgb(3, 143, 207);
    ;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 400;
}

#social-media {
    margin-top: 45px;
}


#other-info {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 45px auto 10px auto;
    background-color: rgb(230, 230, 230);
}

#other-container {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 11px;
}

.other {
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    display: inline;
    align-self: center;
    padding-left: 8px;
}

#email {
    padding: 10px 15px;
    width: 140px;
    background-color:  rgb(3, 143, 207);
    color: white;
    font-size: 14px;
    border: 0;
    border-radius: 16px;
    margin: 30px auto;
}

#right {
    width: 80%;
    margin: 20px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#right-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#mini-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.description, .description-vanilla, .description-react {
    width: 90%;
    font-weight: 500;;
    color: rgb(48, 48, 48);
    margin: 15px;
}

.description-vanilla, .description-react {
    display: none;
}

.but {
    padding: 10px 15px;
    width: 118px;
    color:rgb(3, 143, 207);
    font-weight: 500;
    font-size: 14px;
    margin: 5px;
    border: 2px solid rgb(3, 143, 207);
    border-radius: 16px;
    align-self: center;
    text-align: center;
    
}

.but:hover {
    background-color: rgb(224, 245, 255);
  }

.show {
    display: flex;
}

.hide {
    display: none;
}

.what-im-doing, .react-projects, .vanilla-projects {
    padding: 20px 30px;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0 0 16px 16px;
}

.vanilla-projects {
    display: none;
    min-height: 450px;
    overflow-y: auto;
}



.react-projects {
    display: none;
    min-height: 450px;
    overflow-y: auto;
}



#two-columns {
    background-color: rgb(230, 230, 230);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#two-columns .fa-2x  {
    color:  rgb(3, 143, 207);
} 

.small-side {
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-wrap: wrap;
    
}

#small-right {
    width: 100%;
}

.tiny-side {
    width: 100%;
    height: 10em;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.tiny-side h4 {
    font-size: 18px;
    margin-left: 10px;
}

.tiny-side p {
    margin-left: 10px;
    font-size: 13px;
    width: 95%;
    
}

#test {
    margin-top: 7px;
        padding: 10px 25px;
        width: 140px;
        background-color:  rgb(3, 143, 207);
        color: white;
        font-size: 14px;
        border: 0;
        border-radius: 16px;
        display: flex;
        justify-content: center;
}

a {
    text-decoration: none;
    color: rgb(3, 143, 207);
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.img-wrapper a {
    font-size: 16px;
    
}

.img-wrapper p {
    width: 250px;
    /* max-width: 250px; */
    font-size: 14px;
    color: black;
}

#king-tut, #fortnite, #shanghai, #fitbit {
    
    width: 210px;
    text-align: center;
    margin: 5px;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid black;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 500px) {

    .fas {
        margin: 5px;
    }

    #mini-menu {
        flex-direction: row;
    }

    .but {
        margin-bottom: 15px;
    }

    #king-tut, #fortnite, #shanghai, #fitbit {
        width: 250px;
    }
}


@media screen and (min-width: 730px) {

    

    #two-columns {
        flex-direction: row;
    }

    .small-side {
        width: 100%;
    }

    .tiny-side {
        height: 8em;
        margin: 5px;
    }
}

@media screen and (min-width: 920px) {


    .what-im-doing {
        height: 470px;
        justify-content: flex-start;
    }

    .react-projects {
        height: 470px;
    }

    .tiny-side {
        
        height: 10em;
    }

    .vanilla-projects {
        display: none;
        height: 470px;
        overflow-y: auto;
    }

    #left {
        height: 661px;
        width: 250px;
        margin: auto 10px;
    }

    #right {
        height: 661px;
        width: 68vw;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto 10px;
    }

    #right-title {
        margin-left: 20px;
    }

    #right-top {
        padding: 10px 10px 0px 10px;
        flex-direction: row;
        justify-content: space-between;
    }

    #mini-menu {
        width: 400px;
    }
}

@media screen and (min-width: 1240px) {


    .row {
        height: 100vh;
        width: 95%;
        display: flex;
        flex-wrap: row;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .column {
        border-radius: 16px;
        height: 760px;
        background-color: white;
        
    }
    
    #left {
        width: 250px;
        height: 661px;
        margin: auto 10px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;
    }

    
    .fas {
        
        display: flex;
    }
    
    .other {
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        display: inline;
        align-self: center;
        padding-left: 8px;
    }
    #email {
        cursor: pointer;
        padding: 10px 15px;
        margin: 40px auto;
        width: 140px;
        background-color:  rgb(3, 143, 207);
        color: white;
        font-size: 14px;
        border: 0;
        border-radius: 16px;
    }

    #email:hover {
        background-color:  rgb(0, 99, 145);
    }

    #email:focus {
        outline: none;
    }
    
    #right {
        width: 70vw;
        max-width: 1000px;
        height: 661px;
        margin: auto 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .but {
        width: 140px;
    }


    #right-top {
        justify-content: space-between;
    }

    #mini-menu {
        width: 500px;
        justify-content: space-between;
    }

    .description  {
        width: 90%;
        align-items: center;
    }
    
    
    .what-im-doing h1 {
        align-items: flex-start;
    }
    
    #two-columns {
        background-color: rgb(230, 230, 230);
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    
    #two-columns .fa-2x  {
        color:  rgb(3, 143, 207);
    } 
    
    .small-side {
        
        background-color: rgb(230, 230, 230);
    }
    
    .tiny-side {
        width: 100%;
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .tiny-side h4 {
        font-size: 18px;
        margin-left: 10px;
    }
    
    .tiny-side p {
        margin-left: 10px;
        font-size: 13px;
        width: 95%;
    }
    
    #small-left {
        margin-right: 10px;
    }
    
    #small-right {
        margin-left: 10px;
    }
}